
 <footer class="footer">

  <span class="todo-count"><strong> {{ this.pendientes }}</strong > Pendientes</span>

  <ul class="filters">

    <li *ngFor = " let filtro of filtros"
        (click) = "onCambiarFiltro(filtro)">
      <a [class.selected]="filtro === this.filtroActual"
          href="#/">
        {{ filtro | titlecase }}
      </a>
    </li>


  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)= "onLimpiarCompletados()">Limpiar completadas</button>
</footer>
