    <!-- `editing` `completed`-->
    <li [class.completed]="this.todo.completado"
        [class.editing] = "this.editando"
    >
      <div class="view">
        <input
          class="toggle"
          [formControl] = "chkCompletado"
          type="checkbox">

        <label (dblclick)="onEditar()">{{this.todo.texto}}</label>

        <button class="destroy" (click)="onBorrar()"></button>
      </div>
      <input
        class="edit"
        [formControl]="txtInput"
        (blur)="onTerminarEdicion()"
        type="text"
        #inputFisico>
    </li>
